body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid green;
}

.apple {
    border: none;
    background: green;
}

.snake {
    border: none;
    background: red;
}

.snake__head {
    border: none;
    background: #000;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

#btnUp,
#btnDown {
    width: 100%;
}

#btnLeft,
#btnRight {
    width: 50%;
}