* {
    margin: 0;
    padding: 0; 
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background: #4D9316;
    padding: 10px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* to prevent swipe gesture to refresh page */
    overflow-y: hidden;
}

section {
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;

    display: flex;
    flex-wrap: wrap;

    background-color: #9EDC56;
    background-image:
        linear-gradient(45deg, #86D42B 25%, transparent 25%,transparent 75%, #86D42B 75%, #86D42B 100%),
        linear-gradient(45deg, #86D42B 25%, transparent 25%,transparent 75%, #86D42B 75%, #86D42B 100%);
    background-size:40px 40px;
    background-position:0 0, 20px 20px;
}

section::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 10px;
    z-index: 10;
    box-shadow: inset 5px 5px 0 rgba(0, 0, 0 ,0.3),
                0 0 0 30px #4D9316;
}

.apple {
    position: absolute;

    width: 20px;
    height: 20px;

    border: none;
    border-radius: 50%;
    background: crimson;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.apple::before {
    content: "";
    position: absolute;

    width: 2px;
    height: 6px;
    background: brown;
    top: -6px;
    left: 9px;
}

.apple::after {
    content: "";
    position: absolute;

    border-radius: 50%;
    width: 10px;
    height: 5px;
    background: darkgreen;
    top: -5px;
    left: 9px;
}

.game_field > * {
    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0 ,0.3));
}

.snake {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;

    background: #DB6B24;
    transition-timing-function: linear;
    transform: translateX(-40px);
}

.snake_head {
    border-radius: 30% 50% 50% 30%;
    z-index: 10;
}

.snake_segment {
    border-radius: 50%;
    z-index: 5;
}

.snake_segment::before {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #DB6B28;
}

.snake_tail {
    border-radius: 50%;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
}

.snake_tail::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 7px;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #DB6B24;
}

.snake_tail::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -4px;

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #DB6B24;
}

.snake_head::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    box-shadow: inset 4px 0 0 white;
    border: 3px solid #DB6B24;
    background: black ;
}

.snake_head::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -5px;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    box-shadow: inset 4px 0 0 white;
    border: 3px solid #DB6B24;
    background: black ;
}

/*.snake__part--rotate_up {*/
/*    transform: rotate(-90deg);*/
/*    filter: drop-shadow(-3px 3px 0 rgba(0, 0, 0 ,0.3));*/
/*}*/

/*.snake__part--rotate_down {*/
/*    transform: rotate(90deg);*/
/*    filter: drop-shadow(3px -3px 0 rgba(0, 0, 0 ,0.3));*/
/*}*/

/*.snake__part--rotate_left {*/
/*    transform: rotate(-180deg);*/
/*    filter: drop-shadow(-3px -3px 0 rgba(0, 0, 0 ,0.3));*/
/*}*/

/*.snake__twist--right {*/
/*    border-radius: 0 50% 0 0 ;*/
/*}*/

/*.snake__twist--left {*/
/*    border-radius: 0 0 50% 0 ;*/
/*}*/


.status {
    display: flex;
    justify-content: space-between;
    z-index: 20;
    box-sizing: border-box;
    padding: 10px 20px;
}

.score {
    display: flex;
}

.score span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;

    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0 ,0.3));
}

.btn-start {
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 20px;
    border-color: transparent transparent transparent #fff;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 10px 0 10px 18px;
    font-size: 0;

    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0 ,0.3));
}

.btn-start.paused {
    border-style: double;
    border-width: 0 0 0 18px;
}

.btn-start:focus {
    outline: none;
}
