* {
    margin: 0;
    padding: 0; 
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background: #4D9316;
    padding: 10px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;

    background-color: #9EDC56;
    background-image:
        linear-gradient(45deg, #86D42B 25%, transparent 25%,transparent 75%, #86D42B 75%, #86D42B 100%),
        linear-gradient(45deg, #86D42B 25%, transparent 25%,transparent 75%, #86D42B 75%, #86D42B 100%);
    background-size:40px 40px;
    background-position:0 0, 20px 20px;
}

.square {
    width: 20px;
    height: 20px;
}

.apple {
    border: none;
    font-size: 20px;
    filter: drop-shadow(2px 2px 0 rgba(0, 0, 0 ,0.3));

    display: flex;
    justify-content: center;
    align-items: center;
}

.apple::after {
    content: "🍎";
}

.snake {
    border: none;
    background: #DB6B24;

    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0 ,0.3));
}

.snake__head {
    position: relative;
    z-index: 10;

    border: none;
    border-radius: 0 50% 50% 0;
    background: #DB6B24;
    
}

.snake__head::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    border: 3px solid #DB6B24;
    background: #fff;
}

.snake__head::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -5px;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    border: 3px solid #DB6B24;
    background: #fff;
}

.snake__part--rotate_up {
    transform: rotate(-90deg);
    filter: drop-shadow(-3px 3px 0 rgba(0, 0, 0 ,0.3));
}

.snake__part--rotate_down {
    transform: rotate(90deg);
    filter: drop-shadow(3px -3px 0 rgba(0, 0, 0 ,0.3));
}

.snake__part--rotate_left {
    transform: rotate(-180deg);
    filter: drop-shadow(-3px -3px 0 rgba(0, 0, 0 ,0.3));
}

.snake__twist--right {
    border-radius: 0 50% 0 0 ;
}

.snake__twist--left {
    border-radius: 0 0 50% 0 ;
}
.snake__tail {
    border-radius: 50% 0 0 50%;
}


nav {
    display: flex;
    flex-wrap: wrap;
}
